@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> localizer
<aside id="sideBar" class="main-sidebar sidebar-dark-primary">
    <a href="/" class="brand-link">
        @*        <img src="~/images/logo-transparent.png" id="brand-logo" alt="logo" class="brand-image img-circle"
            style="opacity: .8">*@
        <span class="brand-text font-weight-light" style="font-size:0.8em!important;text-align:center">@localizer["ApplicationName"]</span>
    </a>
    <div class="sidebar">
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                @if (User.IsInRole("SuperAdmin") || User.IsInRole("Manager") || User.IsInRole("Admin"))
                {
                    <li class="nav-item">
                        <a href="/Dashboard/Managment" class="nav-link">
                            <i class="nav-icon fa fa-th"></i>
                            <p>
                                @localizer["Dashboard"]
                                <span class="right badge badge-danger">@localizer["New"]</span>
                            </p>
                        </a>
                    </li>
                }
                @if (User.IsInRole("SuperAdmin"))
                {
                    <li class="nav-header">@localizer["Admin"]</li>
                    <li is-active-route asp-area="Admin" asp-controller="User" class="nav-item has-treeview">
                        <a is-active-route asp-area="Admin" asp-controller="User" class="nav-link">
                            <i class="nav-icon fa fa-user"></i>
                            <p>
                                @localizer["Admin Settings"]
                                <i class="right fa fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a is-active-route asp-area="Admin" asp-controller="User" class="nav-link">
                                    <i class="fa fa-user-circle nav-icon"></i>
                                    <p>@localizer["Users"]</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a is-active-route asp-area="Admin" asp-controller="Role" class="nav-link">
                                    <i class="fa fa-user-circle nav-icon"></i>
                                    <p>@localizer["Roles"]</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                }

                @if (User.IsInRole("SuperAdmin") || User.IsInRole("Manager") || User.IsInRole("Admin"))
                {
                    <li class="nav-header">@localizer["Basic"]</li>
                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fa fa-list"></i>
                            <p>
                                @localizer["Data"]
                                <i class="right fa fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="/data/excel/importdevice" class="nav-link">
                                    <i class="fa fa-cube  nav-icon"></i>
                                    <p>وارد کردن دستگاه</p>
                                </a>
                                <a href="/data/excel/devices" class="nav-link">
                                    <i class="fa fa-bars nav-icon"></i>
                                    <p>دستگاه ها</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-header">بایگانی اسناد</li>
                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fa fa-list"></i>
                            <p>
                                مدارک
                                <i class="right fa fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="/admin/document/index" class="nav-link">
                                    <i class="fa fa-file-archive-o nav-icon"></i>
                                    <p>مدیریت مدارک</p>
                                </a>
                            </li>
                        </ul>
                    </li>

                }
            </ul>
        </nav>
    </div>
</aside>