@using Application.Extensions
@using Common.Enums
@using Web.Areas.Admin.Models
@model IEnumerable<DocumentViewModel>
@{
    string t = "";
}
<table class="table table-striped" id="docTable">
    <thead>
        <tr>
            <th>
                IMEI دستگاه
            </th>
            <th>
                نوع فایل
            </th>
            <th>
                وضعیت فایل
            </th>
            <th style="width:10%">
                #
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var docs in Model.GroupBy(m => m.IMEI))
        {
            if (t == "background-color:whitesmoke")
            {
                t = "background-color:white";
            }
            else
                t = "background-color:whitesmoke";

            @foreach (var doc in docs)
            {
                <tr style="@t">
                    <td>
                        <a>
                            @doc.IMEI
                        </a>
                    </td>
                    <td>
                        <a>
                            @(EnumHelper<DocumentType>.GetDisplayValue(doc.DocumentType))
                        </a>
                    </td>
                    <td>
                        @if (doc.IsConfirm)
                        {
                            <span class="badge badge-success">پذیرفته شده</span>
                        }
                        else
                        {
                            <span class="badge badge-danger">پذیرفته نشده</span>
                        }
                    </td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                عملیات
                            </button>
                            <div class="dropdown-menu shadow animated--grow-in">
                                <button class="dropdown-item" onclick="showDoc('@doc.Id', '@doc.IMEI', '@doc.FileName')">
                                    <i class="fa fa-pen"></i> نمایش مدرک
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $("#docTable").DataTable({
            searching: true,
            ordering: true,
            processing: true,
            select: true,
            responsive: true,
            oLanguage: {
                sSearch: "جستجو: ",
                sInfo: "نمایش _START_ تا _END_ از _TOTAL_ رکورد",
                sLengthMenu: "نمایش _MENU_ رکورد",
                sInfoFiltered: "فیلتر شده از _MAX_ رکورد",
                sInfoEmpty: "هیچ داده ای یافت نشد",
                sZeroRecords: "رکوردی یافت نشد",
                oPaginate: {
                    sPrevious: "قبلی",
                    sNext: "بعدی",
                }
            },
            initComplete: function (settings, json) {
                //SetLoading(false,"#myT");
            }
        });
    });
</script>